@charset "UTF-8";

.quadrado{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgray;
    width: 500px;
    height: 300px;
}
#q1{
background-color: aquamarine;
}
#q2{
    background-image: linear-gradient(to bottom, red, orange);
}
#q3{
    background-image: url(Imagens/pattern001.png);
}